{% extends 'baseProf.html.twig' %}


{% block title %}Créez votre annonce en quelques mins!{% endblock %}


{% block body %}
<script src="{{asset('js/jquery/jquery-2.2.4.min.js')}}"></script>

<section>
  
 <div class="col-md-10 container">
   <center>
        <div class="col-md-8" id="zone" style="text-align: left;">
          <h3>Etape 1: votre cours</h3>
            <form action="" method="post" enctype="multipart/form-data" name="form" style="margin:auto;padding:10%;">
               <input type="text" name="cours" required class="form-control" id="cours" placeholder="Quel cours voulez vous offrir?">

            <!-- <form action="" method="post" enctype="multipart/form-data" name="form"> -->
               <!-- <input type="text" name="cours"  class="form-control" id="cours" placeholder="Quel cours voulez vous offrir?"> -->

               <br>
               
                 <div id="detail" class="col-md-9">

                 </div>
                 <!-- <div class="col-md-8"> -->

               <!-- </div> -->
               <br>

               <!-- <button type="button" id="solo" class="btn btn-success">Soumetre <span class="fa fa-send"></span></button> -->

               <!-- <button type="button" id="solo" class="btn btn-success">Soumetre <span class="fa fa-send"></span></button> -->

               <button class="btn btn-primary" type="button" id="plus">Plus de Details</button>

               <div id="send" class="left">

              </div>
           </form>
</div>
</center>
</div>
  </section> 
  <!-- <script src="{{asset('js/jquery/jquery-2.2.4.min.js')}}"></script> -->
    <script src="{{asset('js/scripts/anonce.js')}}"></script>

{% endblock %}
