{% extends 'baseLogin.html.twig' %}


{% block body %}
<script src="../js/jquery/jquery-2.2.4.min.js"></script>
<section class="hero-area">
 <div class="col-md-12 container" style="margin:auto;" >
        <div class="col-md-8 single-blog-area mb-100 wow fadeInUp " style="text-align: left;border:1px solid #c8d4f7;margin:auto;background-image:url(../img/bg1.jpg);" id="zone">
          <h3>Etape 1: votre cours</h3> <br>
            <form action="" method="post" enctype="multipart/form-data" name="form" style="margin:auto;padding:10%;">
               <input type="text" name="cours" required class="form-control" id="cours" placeholder="Quel cours voulez vous offrir?">
               <br>
               
                 <div id="detail" class="">

                 </div>
                 <!-- <div class="col-md-8"> -->

               <!-- </div> -->
               <br>

               <!-- <button type="button" id="solo" class="btn btn-success">Soumetre <span class="fa fa-send"></span></button> -->
               <button class="btn btn-primary pull-right" type="button" id="plus">Plus de Detail</button>
               <div id="send" class="left">

               </div>        
            </form>
        </div>
       
     </center>
    
    <br><br><br><br>
    <script src="js/scripts/anonce.js"></script>

 </div>
{% endblock %}
