{% extends 'baseLogin.html.twig' %}

{% block title %}Cree votre annonce en quelques mins!{% endblock %}

{% block body %}
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<br><br>
 <div class="container">
     <center class="col-md-10">
        <div class="col-md-8" style="text-align: left; padding:2%; margin-bottom:19%; margin:5%;" id="zone">
          <h3>Etape 6: Lieux de cours</h3> <br>
            <form action="{{path('lieu_cours_traitement')}}" method="get">
                <h3>ou seront dispo vos cours?</h3>
                <select name="lieu" id="tc" class="form-control">
                    <option value="a domicile">a domicile</option>
                    <option value="chez l'etudiant">chez l'etudiant</option>
                    <option value="Cours en ligne">Cours en ligne</option>
                </select>
                <br>
                <button type="submit" class="btn btn-primary">Suivant <span class="fa fa-send"></span></button>
            </form>
        </div>
       
     </center>
    
    <br><br><br><br>
    <script src="js/scripts/anonce.js"></script>
 </div>
{% endblock %}
