{% extends 'baseLogin.html.twig' %}

{% block title %}Cree votre annonce en quelques mins!{% endblock %}

{% block body %}
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<br><br>
 <div class="container">
     <center class="col-md-10">
        <div class="col-md-8" style="text-align: left; padding:2%; margin-bottom:19%; margin:5%;" id="zone">
          <h3>Etape 4: Votre parcours au tour de cette competence que vous voulez vendre</h3> <br>
            <form action="{{path('parcours_traitement')}}" method="get">
               
                <textarea name="parcours" id="parcours" class="form-control" cols="30" rows="10"></textarea>
                <br>
                 <div>
                    Ici vous devez dire les evenements cles qui vous on permit d'optenir la competence que vous voulez vendre.
                    Il s'agit ici de dire a vos futurs etudiants votre parvours autours de cette competence. Cela permet aux etudiants de savoir sur quel bases ils vont suivent votre formation

                </div>
                <br>
                <button type="submit" class="btn btn-primary">Suivant <span class="fa fa-send"></span></button>
               
            </form>
        </div>
       
     </center>
    
    <br><br><br><br>
    <script src="js/scripts/anonce.js"></script>
 </div>
{% endblock %}
