{% extends 'baseProf.html.twig' %}

{% block title %}Créez votre annonce en quelques mins!{% endblock %}

{% block body %}
<style>
  body{
      background: url('{{asset("img/c5.JPG")}}');
      background-size: cover;

  }
  #zone{
      background: white;
      opacity: 0.9;
  }
</style>
<br><br><br>
<section class="hero-area">
  <div class="col-md-12 container" style="margin:auto;" >
         <div class="col-md-8 single-blog-area mb-100 wow fadeInUp " style="text-align: left;border:1px solid #c8d4f7;margin:auto;" id="zone">
          <h3>Etape 7: Votre tarif</h3> <br>
            <form action="{{path('tarif_heure_traitement')}}" method="get" style="margin:auto;padding:10%;">
               <h4>votre tarif par Heure</h4>
              <div class="input-group col-lg-8">
                <input type="text" name="tarif" class="form-control" value="100" />
                <span class="input-group-addon btn btn-dark" style="background:blue; color:white;">Fcfa/H</span>
              </div>

                 <div class="">
                    
                  </div>
                <br>
                <a href="{{path('lieu_cours')}}" class="btn btn-dark">Precedent</a>
                <button type="submit" class="btn btn-primary" style="float: right;">Suivant: <span class="badge badge-dark">Photo de couverture</span> <span class="fa fa-send"></span></button>
               
            </form>
        </div>
      </div>
  </section>
     
{% endblock %}
