{% extends 'baseLogin.html.twig' %}

{% block title %}Cree votre annonce en quelques mins!{% endblock %}

{% block body %}
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<br><br>
 <div class="container">
     <center class="col-md-10">
        <div class="col-md-8" style="text-align: left; padding:2%; margin-bottom:19%; margin:5%;" id="zone">
          {% for anon in anonce %}
           <form method="post" action="{{path('type_cours')}}">
              <input type="text" name="cours" value="{{anon.matiere}}" class="form-control" />
              <button type="submit" class="btn btn-primary">suivant</button>
            </form>
          {% endfor %}
        </div>
       
     </center>
    
    <br><br><br><br>
    <script src="js/scripts/anonce.js"></script>
 </div>
{% endblock %}
