{% extends 'base.html.twig' %}

{% block title %} Etudiants - clever-prof{% endblock %}

{% block body %}

<style>
    .n{
        font-size: 1.3em;
        margin: 2%;
        padding: 2%;
    
    }
    .n:hover{
      font-size: 1.3em;
      margin: 2%;
    
    }
</style>
<div class="clever-catagory blog-details bg-img d-flex align-items-center justify-content-center p-3 height-400" style="background-image: url({{asset('/img/children.JPG')}});">
    <div class="blog-details-headline">
      <!-- <center>  <img src="{{asset('/img/pdp/default_pdp.JPG')}}" alt="" style="height:80px; width:80px; border-radius: 100%;" /></center> -->
       <center>
        <a href="#" class="n col-md-10 btn btn-success btn-lg"> Creer un compte etudiant <span class="fa fa-user-plus"></span> </a>
        <a href="#" class="n col-md-10 btn btn-primary btn-lg"> votre espace etudiant </a>
       
       </center>
        
        <div class="meta d-flex align-items-center justify-content-center">
            
        </div>
    </div>
</div>


{% endblock %}
