{% extends 'baseProf.html.twig' %}

{% block title %}changez votre photo de profil!{% endblock %}

{% block body %}
<script src="{{asset('js/jquery/jquery-2.2.4.min.js')}}"></script>
<br><br>
 <div class="container">
     <center class="col-md-10">
        <div class="col-md-8" style="text-align: left; padding:2%; margin-bottom:19%; margin:5%;" id="zone">
          <h3>Selectionnez votre photo de profil</h3> <br>
          {{form_start(form)}}

             {{form_row(form.brochure)}}

         {{form_end(form)}}
        </div>
       
     </center>
    
    <br><br><br><br>
    <script src="js/scripts/anonce.js"></script>
 </div>
{% endblock %}
