{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier une discipline !{% endblock %}


{% block body %}
 <div class="container">
     <div class="col-md-5"></div>
     <p>
         Modifier les specialités d'un cours maintenant
         <br>
         <div style="color:red;">
            
         </div>
         {% for mat in matieres %}
         <form action="{{path('update_traitement',{'id':mat.id})}}" method="post">
             <input type="text" required value="{{mat.cours}}" name="cours" id="cours" class="form-control" placeholder="cours a enregistrer" /> <br>
             <textarea name="specialite"  required id="specialite" cols="30" rows="10" class="form-control" placeholder="Entre les disciplines en fonction du cours en leur separent par des virgules ">{{mat.branche}}</textarea>
            <br>
         <button class="btn btn-primary btn-lg">Envoyer <span class="fa fa-send"></span></button>
           
        </form>
        {% endfor %}
     </p>
     </div>
 </div>
 <br><br>

{% endblock %}
