{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajoute une disipline !{% endblock %}

{% block body %}
 <div class="container single-blog-area mb-100 wow fadeInUp" style="border:1px solid #D3D3D3; margin:auto;" >
     
     
         <h2 class="text-center text-secondary">Ajoute un cours et ses disciplines</h2>
         <br>
         <div style="color:red;">
            {{erreur}}
            {% if code == 1 and erreur %}
            <a href="{{path('modifier_matiere')}}">ICI</a>
            {% endif %}
         </div>
         <div>
         <form action="{{path('add_cours')}}" method="post">

             <input type="text" name="cours" id="cours" class="col-md-4 form-control" placeholder="cours à enregistrer" /> <br>
             <textarea name="specialite" id="specialite" cols="30" rows="10" class="col-md-8 form-control" placeholder="Entrez les disciplines du cours en leur separant par des virgules "></textarea>

            <br>
            
         <button class="btn btn-primary btn-lg">Ajouter <span class="fa fa-plus"></span></button>
        
         </form>
        </div>
     </div>
 
<style>
    input,textarea{
        text-transform: capitalize;
    }
</style>

 </div>
 <br><br>
 
{% endblock %}
