{% extends 'baseAdmin.html.twig' %}

{% block title %}Demande de certification !{% endblock %}

{% block body %}
<script src="../js/jquery/jquery-2.2.4.min.js"></script>

 <div class="container">
     
    <div class="blog-details-content section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="blog-details-text">
                      <h3>Les Demandes de certification</h3>
                      {% for notif in notification %}
                          <img src="../img/cv_annonce/{{notif.diplome}}" alt="" style="height: 400px;">
                          <br><br>
                           <a href="{{path('anonce_a_certifier',{'id':notif.anonceId})}}" class="btn btn-primary">voir l'annonce <span class="fa fa-eye"></span></a>
                           &nbsp;&nbsp;&nbsp;
                           <a href="#" class="btn btn-success">confirme la certification <span class="fa fa-check"></span></a>
                          <br>
                          <br>
                      {% endfor %}
                     </div>
                </div>
            </div>
        </div>
    </div>
     
 </div>
 <br><br>
 
{% endblock %}
