{% extends 'baseAdmin.html.twig' %}

{% block title %}Demande de certification !{% endblock %}

{% block body %}
<script src="../js/jquery/jquery-2.2.4.min.js"></script>

 <div class="container">
     
    <div class="blog-details-content section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="blog-details-text">
                      <h3>Les Demandes de certification</h3>
                      en cours de traitement
                     </div>
                </div>
            </div>
        </div>
    </div>
     
 </div>
 <br><br>
 
{% endblock %}
