{% extends 'baseLogin.html.twig' %}

{% block title %}Certifier votre annonce !{% endblock %}

{% block stylesheet %}
    
       <link rel="stylesheet" href="../../style.css">
        
{% endblock stylesheet %}


{% block body %}
<div class="blog-details-content section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- Blog Details Text -->
                <h2>votre dossier est en cours de traitement</h2>
                nous allons prendre le temps de verfier ces informations avant de pouvoir certifier votre annonce
                . Cela ne prendra pas trop de temps <br><br>
                {% for anon in annonce %}
                    <img src="../../img/cv_annonce/{{anon.diplome}}" alt="">
                {% endfor %}
                <br><br><br><br>
                <a href="{{path('acount')}}" class="btn btn-primary btn-lg">Accueil <span class="fa fa-home"></span></a>
                </div>
            </div>
        </div>
    </div>

 <br><br>
 {% block Javascript %}
    <script src="../../js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../../js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../../js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../../js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../../js/active.js"></script>
{% endblock Javascript %}
{% endblock %}
