{% extends 'baseProf.html.twig' %}

{% block title %}vous ne pouvez pas encore supprimer une annonce{% endblock %}

{% block body %}
<br><br><br><br><br><br><br><br><br><br><br>
 <div class="container">
     <center>
         <div class="col-md-9">
        <h2>Vous ne pouvez pas encore faire des suppressions sur vos annonces</h2>
        <a href="{{path('dashboad')}}" class="btn btn-primary btn-lg">Accueil <span class="fa fa-home"></span></a>
         </div>
     </center>

 </div>
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
