{% extends 'base.html.twig' %}

{% block title %} Professeurs - clever-prof{% endblock %}

{% block body %}
<style>
    .n{
        font-size: 1.3em;
        margin: 2%;
        padding: 2%;
    
    }
    .n:hover{
      font-size: 1.3em;
      margin: 2%;
    
    }
    .x{ background-image: url("{{asset('/img/business.JPG')}}"); }
</style>
<div class="x clever-catagory blog-details bg-img d-flex align-items-center justify-content-center p-3 height-400">
    <div class="blog-details-headline">
      <!-- <center>  <img src="{{asset('/img/pdp/default_pdp.JPG')}}" alt="" style="height:80px; width:80px; border-radius: 100%;" /></center> -->
       <center>
        <a href="{{path('inscription_prof')}}" class="n col-md-10 btn btn-success btn-lg"> Creer un compte professeur <span class="fa fa-user-plus"></span> </a>
        <a href="{{path('dashboad')}}" class="n col-md-10 btn btn-primary btn-lg"> Votre espace professeur </a>
       
       </center>
        
        <div class="meta d-flex align-items-center justify-content-center">
            
        </div>
    </div>
</div>
{% endblock %}
