{% extends 'base.html.twig' %}

{% block title %}Prof-inscription | Clever-prof !{% endblock %}

{% block body %}
<script src="{{asset('js/jquery/jquery-2.2.4.min.js')}}"></script>

<style>
    .n{
        background-image:url("{{asset('img/business.jpg')}}");
    }
  </style>

<section style=" padding:3%;" class="n bg-img bg-overlay-2by5">
 <div class="col-md-8 container" style="margin:auto;margin-block-end:10%;" >
    <h4 class="text-center">Rejoignez la communauté des professeurs <span class="fa fa-user-plus"></span></h4>

    <form action="{{path('traitement-inscription')}}" style="background: rgba(48, 43, 43, 0.3); padding:4%;" method="post">
        <div class="">
            <i id="not_nom"></i>
            <div class="col-12 col-lg-11">
                <div class="form-group">
                    <input type="text" name="nom" id="nom" required class="form-control"  placeholder=" Nom" >
                </div>
            </div>
            <div class="col-12 col-lg-11">
                <div class="form-group">
                    <input type="text" name="prenom" required class="form-control"  placeholder=" Prenom" >
                </div>
            </div>
            <div class="col-12 col-lg-11">
                <div class="form-group">
                    <input type="email" name="email" required class="form-control"  id="email" placeholder="Email" >
                </div>
            </div>
            <!-- <div class="col-12 col-lg-6"> 
                <div class="form-group">
                    <input type="text" required name="tel_fixe" class="form-control" id="phone" placeholder="Telephone fixe">
                </div>
            </div>-->
            <div class="col-12 col-lg-11">
                <div class="form-group">
                    <input type="text" name="tel_portable" required class="form-control" id="tel" placeholder="Telephone portable">
                </div>
            </div>
            <div class="col-12 col-lg-11">
                <div class="form-group">
                    <select name="ville" class="form-control" required id="ville">
                        <option id="indef" value="indef">Ville:</option>
                        <option value="Douala">Douala</option>
                        <option value="Yaoundé">Yaoundé</option>
                        <option value="Bafoussam">Bafoussam</option>
                        <option value="Nkongsamba">Nkongsamba</option>
                        <option value="Bamenda">Bamenda</option>
                        <option value="Bertoua">Bertoua</option>
                        <option value="Buea">Buea</option>
                        <option value="Ebolowa">Ebolowa</option>
                        <option value="Garoua">Garoua</option>
                        <option value="Maroua">Maroua</option>
                        <option value="Ngaoundere">Ngaoundere</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-lg-11">
                <div class="form-group">
                    <input type="text" name="adresse" required class="form-control"  placeholder="Adresse">
                </div>
            </div>
            <div class="col-12 col-lg-11">
                <div class="form-group">
                    
                    <select name="genre" class="form-control" required id="genre">
                        <option value="" id="indef" value="indef">genre:</option>
                        <option value="feminin">Feminin</option>
                        <option value="masculin">Masculin</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-lg-11">
                <div class="form-group">
                    <input type="password" name="pass1" required class="form-control" id="p1" placeholder="Mot de passe">
                </div>
            </div>
            <div id="not"></div>
            <div class="col-12 col-lg-11">
                <div class="form-group">
                    <input type="password" name="pass2" required class="form-control" id="p2" placeholder="Mot de passe(confirmation)">
                </div>
            </div>
            <br>
            <center>
                <code style="color:white">En vous inscrivant, vous acceptez nos conditions d'utilisation</code>
            </center>
            <div class="col-md-6" style="margin:auto;">
                <button class="btn clever-btn w-100" id="but">Inscription <span class="fa fa-send"></span></button>
            </div>
        </div>
    </form>
 </div>
 <script>
    $(function(){
        $('#but').click(function(){
            if($('#p1').val() != $('#p2').val()){
                $('#not').html('<i style="color:red;">Les mots de pass ne sont pas identique</i>');
                $('#p1').css('border','1px solid red');
                $('#p2').css('border','1px solid red');
                
                return false; 
            }

            if($('#p1').val() == $('#p2').val()){
             
              return true;
          }

          let nom = document.getElementById('nom');
          if(!nom.value.trim('')){
             $('#not_nom').html('<i style="color:red;">Vous ne devez pas laisser les espaces dans votre nom</i>');
             $('#not_nom').css('border','1px solid red');
          }
        });
    });
  </script>

</section>

{% endblock %}
